.input{
    height:57px;
    display: block;
    justify-content: space-between;
     align-items: center; 
}
.input__number{
    width: 100%;
    border: none;
    color: rgb(8, 8, 8);
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    outline: none;
}
.contenedor-controles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: white;
    width: 90%;
    height: 30px;
}
.boton-agregar{
    font-size: 20px;
    border-radius: 10px;
}